
AsiCSharpClient/.vs/AsiCSharpClient/v16/.suo
*.json
*.dll
*.exe
*.pdb
*.cache
*.CopyComplete
AsiCSharpClient/AsiCSharpClient/obj/AsiCSharpClient.csproj.nuget.dgspec.json
AsiCSharpClient/AsiCSharpClient/obj/Debug/netcoreapp3.1/AsiCSharpClient.assets.cache
AsiCSharpClient/AsiCSharpClient/obj/Debug/netcoreapp3.1/AsiCSharpClient.csproj.FileListAbsolute.txt
AsiCSharpClient/AsiCSharpClient/obj/Debug/netcoreapp3.1/AsiCSharpClient.csprojAssemblyReference.cache
AsiCSharpClient/AsiCSharpClient/obj/project.assets.json
AsiCSharpClient/AsiCSharpClient/obj/project.nuget.cache
AsiCSharpClient/.vs/AsiCSharpClient/v16/.suo
AsiCSharpClient/AsiCSharpClient/obj/AsiCSharpClient.csproj.nuget.dgspec.json
AsiCSharpClient/AsiCSharpClient/obj/Debug/netcoreapp3.1/AsiCSharpClient.assets.cache
AsiCSharpClient/AsiCSharpClient/obj/Debug/netcoreapp3.1/AsiCSharpClient.csprojAssemblyReference.cache
AsiCSharpClient/AsiCSharpClient/obj/project.assets.json
AsiCSharpClient/AsiCSharpClient/obj/project.nuget.cache
AsiCSharpClient/.vs/AsiCSharpClient/v16/.suo
AsiCSharpClient/AsiCSharpClient/obj/AsiCSharpClient.csproj.nuget.dgspec.json
AsiCSharpClient/AsiCSharpClient/obj/Debug/netcoreapp3.1/AsiCSharpClient.assets.cache
AsiCSharpClient/.vs/AsiCSharpClient/v16/.suo
